<% include ../partials/header %>

    <div class="container">
        <form class="form-formatting" action="/research/<%=publication._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <input type="text" class="form-control-file" name="publication[title]" placeholder="Paper Title" value="<%=publication.title%>">
            </div>
            <div class="form-group row">
                <div class="col-md-7">
                    <input type="text" class="form-control-file" name="publication[authors]" placeholder="Authors" value="<%=publication.authors%>">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control-file" name="publication[venue]" placeholder="Venue" value="<%=publication.venue%>">
                </div>
            </div>
            <!--<div class="form-group">-->
            <!--    <input type="text" class="form-control-file" name="publication[venue]" placeholder="Venue">-->
            <!--</div>-->
            
            <div class="form-group row">
                <div class="col-md-8">
                    <input type="text" class="form-control-file" name="publication[type]" placeholder="Type" value="<%=publication.type%>">
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control-file" name="publication[rank]" placeholder="Rank" value="<%=publication.rank%>">
                </div>
                <div class="col-md-2">
                    <!--<input type="year" class="form-control-file" placeholder="Year">-->
                    <select class="custom-select mr-sm-2" id="year" name="publication[year]"></select>
                </div>
            </div>
            
            <div class="form-group">
                <textarea class="form-control" rows="12" name="publication[abstract]" placeholder="Abstract" ><%=publication.abstract%></textarea>
            </div>
            
            <div class="form-group row">
                <div class="col-md-6">
                    <input type="text" class="form-control-file" name="publication[doi]" placeholder="DOI" value="<%=publication.doi%>">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control-file" name="publication[url]" placeholder="URL" value="<%=publication.url%>">
                </div>
            </div>
            
            <div>
                <input class="btn btn-outline-success btn-sm" type="submit">
                <a class="btn btn-outline-danger btn-sm" href="/research" >Discard</a>
            </div>
        </form>
    </div>

<% include ../partials/footer %>