<% include ../partials/header %>

    <div class="container">
        <form class="form-formatting" action="/projects/<%=project._id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <!-- Project Title -->
            <div class="form-group">
                <input type="text" class="form-control-file" placeholder="Project Title" name="project[title]" value="<%=project.title%>">
            </div>
            <!-- Summary -->
            <div class="form-group">
                <textarea class="form-control" rows="4" 
                    placeholder="Add project summary here" 
                    name="project[summary]"><%=project.summary%></textarea>
                <!--<div contenteditable="true" class="form-control" name="project[content]">-->
                <!--    This text can be edited by the user.-->
                <!--</div>-->
            </div>
            <!-- Description -->
            <div class="form-group">
                <textarea class="form-control" rows="16"
                    placeholder="Project description here (may require HTML markups)" 
                    name="project[content]"><%=project.content%></textarea>
            </div>
            <!-- Add image -->
            <div class="container img-input">
                <!--<p class="center-text"><em>Add image from your computer or with a url</em></p>-->
                <div class="form-group row">
                    <!-- from your computer -->
                    <div class="col-md-4">
                        <input type="file" class="form-control-file" name="image" accept="image/*" placeholder="something here">
                    </div>
                    <!-- from a link -->
                    <!--<div class="col-md-7">-->
                    <!--    <input type="text" class="form-control-file" placeholder="Paste image url here" name="project[image]" value="<%=project.image%>">-->
                    <!--</div>-->
                    <!-- Project status-->
                    <div class="col-md-4">
                        <!--<labe class="col-form-label" for="projectStatus">Project Status <span class="small">(between 0 and 100)</span></labe>-->
                        <input type="number" step="1" class="form-control-file" id="projectStatus" 
                            min="0" max="100" name="project[status]" 
                            placeholder="Project Status (between 0 and 100)" value="<%=project.status%>">
                    </div>
                    <!-- Check to hiden from non-login users -->
                    <div class="col-md-1 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="project[hide]">
                        <label class="form-check-label" for="exampleCheck1">Hide</label>
                    </div>
                </div>
            </div>
            
            
        
            <div>
                <input class="btn btn-outline-success btn-sm" type="submit">
                <a href="/projects" class="btn btn-outline-danger btn-sm" >Discard</a>
            </div>
        </form>
    </div>

<% include ../partials/footer %>